
<div class="animate__animated animate__fadeInLeftBig animate__faster">
    <h3>Buscar por región <small> {{regionactiva | titlecase}}</small></h3>
<hr />

<h5>Seleccione la región</h5>

<div class="row">

    <!-- class="btn btn-outline-primary"" -->
    <!-- [ngClass]="{
        'btn-primary': regionactiva === region,
        'btn-outline-primary': regionactiva !== region
    }
    " -->
    <div class="col">
        <button *ngFor="let region of regiones" 
                [class]="getClassCSS( region )" 
                (click)="activarRegion( region )"
                
        >
            {{region | titlecase}}
        </button>
    </div>
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
  
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
  
    </div>
</div>
</div>
